<h1>Order Details</h1>
<table class="table">            
    <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>TotalPrice</td>
            <td>View</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders; index as i">
            <ng-container *ngIf="orders">
                <td>{{ i+ 1 }}</td>
                <td>{{ order.shippingDetails.Name }}</td>
                <td>{{ order.totalPrice }}</td>
                <td>
                    <a [routerLink]="['/check-out/', order.key]">
                        edit
                    </a>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>